/* feuille de style index.html 
Créateur : Kevin Champagnol 
Site extranet GBAF */

/* Définition de la largeur du corps de page et de son centrage */

body {
	width: 30%;
	border: 1px solid;
	border-color: black;
	margin-left: auto;
    margin-right: auto;
}

/* mise en forme des container page index */

.container_presentation, .container_description, .container_tableau, .container_acteur, .container_commentaire {
	width: 90%;
	margin: auto;
}

.container_tableau {
	border: 1px solid;
}

/* Definition de la taille du texte des container presentation et description */

.texte_presentation, .texte_description {
	font-size: 16px;
}

/* taille et place logo GBAF*/
.logo {
	width: 80px;
	height: 80px;
	padding: 10px 10px 10px 10px;
}*

/* mise en forme de l'icone user */
.user_icone {
	
	margin-right: 5px;
	text-align: center;
	width: 18px;
	height: 18px;
}

/* place information user */
.user_info {
	float: right;
	padding: 10px 10px 10px 10px;
}

/* centrage bloc illustration et redimension image*/
.illustration img {
	width: 150px;
}

.illustration {
	text-align: center;
}


/* ajustement dimension logo acteur sur index */
.mini_logo img {
	width: 140px;
}


.tableau {
	border: 1px solid;
	margin: 5px;
	padding: 5px;
	font-size: 14px;
}

.mini_logo {
	float: left;
	padding: 5px;
	margin-top: 15px;
}

.texte_position {
	margin-top: 12px;
}

/* Placement du bouton "lire la suite"*/
.button {
	text-align: right;
}

.forme_button {
	border-radius: 6px;
	padding: 4px;
}


/*mise en page footer*/
.lien_footer {
	text-align: center;
	margin-top: 20px;
}

.link {
	color: black;
	text-decoration:none;
}



													/*-------------------------------- Style CSS de la page Acteur ci dessous ------------------------------------------ */


.image_acteur img {
	width: 250px;
}

.image_acteur {
	text-align: center;
}

.texte_acteur {
	font-size: 14px;
	padding: 15px;
}

/* block commentaire */

.nombre_commentaire{
	margin-left: 15px;
	display: inline-block;
}

.new_commentaire {
	
}
.bouton_commentaire{
}

.container_commentaire {
	border: 1px solid;
}

.commentaire {
	border: 1px solid;
	border-radius: 4px;
	font-size: 12px;
	width: 90%;
	margin: auto;
	margin-bottom: 10px;
	padding: 5px;
}


